.product-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease;
  text-align: center;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    height: auto;
  }

  .product-info {
    padding: $base-spacing;

    h3 {
      color: $primary-color;
      margin: 0;
    }

    p {
      color: $text-color;
      margin: 0.5rem 0;
    }
  }
}
